@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;900&display=swap');
:root {
    --main-red: #BA3129;
    --main-red-dark: #9b2822;
    --main-light: #EDE5CC;
    --main-bg: #EDE5CC;
    --accept-green: #228B22;
    --accept-green-dark: #196919;
    --decline-red: #E84B23;
    --decline-red-dark: #cc411f;
}

* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: var(--main-bg);
}

a {
    color: var(--main-red);
}

a:hover {
    color: var(--main-red-dark);
}

.header-margin-top {
    margin-top: 100px;
    margin-bottom: 70px;
}

.page-header {
    font-size: 25px;
}

.link-dark-red-hover:hover {
    color: var(--main-red-dark);
}


/* Font  */

.text-main-red {
    color: var(--main-red);
}

.fw-600 {
    font-weight: 600;
}

.fw-900 {
    font-weight: 900;
}

.text-fb-color {
    color: #395498;
}

.text-twitter-color {
    color: #2BA5DA;
}

.text-ig-color {
    color: #C83C8F;
}

.text-yt-color {
    color: #FE0000;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}


/* Buttons */

.btn {
    padding: 10px;
}

.btn-main-red {
    background-color: var(--main-red);
    color: white;
}

.btn-main-red:hover {
    background-color: var(--main-red-dark);
    color: white;
}

.btn-main-red-outline {
    background-color: white;
    border: 1px solid var(--main-red);
    color: var(--main-red);
}

.btn-main-red-outline:hover {
    color: var(--main-red);
}


/* Form control */

.form-control:focus {
    border-color: var(--main-red);
    box-shadow: none;
}


/* Avatar */

.small-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.medium-avatar {
    width: 92px;
    height: 92px;
    object-fit: cover;
}

.message-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
}


/* Image preview */

.imgPreviewThumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.imgPreviewThumbProfile {
    width: 145px;
    height: 145px;
    object-fit: cover;
    cursor: pointer;
}

.imgPreviewThumbProfileSelected {
    border: 2px solid var(--bs-yellow);
}

.active-accordion {
    font-weight: 600;
    margin-left: 0.5rem;
}

.tag {
    font-size: 12px;
    background-color: var(--main-red);
    color: white;
    max-width: 30px;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 15px;
}

.form-check-input:checked {
    background-color: var(--main-red);
    border: none;
    outline: none;
}

.form-check-input:focus {
    outline: none;
    box-shadow: none;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--main-red);
}

.form-select:active {
    border: 1px solid var(--main-red);
}

@media only screen and (max-width: 768px) {
    .header-margin-top {
        margin-top: 1rem;
    }
}