@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;900&display=swap');
:root {
    --main-red: #BA3129;
    --main-red-dark: #9b2822;
    --main-bg: #EDE5CC;
}

* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: var(--main-bg);
}

a {
    color: var(--main-red);
}

a:hover {
    color: var(--main-red-dark);
}


/* Font  */

.text-main-red {
    color: var(--main-red);
}

.fw-600 {
    font-weight: 600;
}

.text-fb-color {
    color: #395498;
}

.text-twitter-color {
    color: #2BA5DA;
}

.text-ig-color {
    color: #C83C8F;
}

.text-yt-color {
    color: #FE0000;
}

.fs-7 {
    font-size: 0.9rem;
}


/* Buttons */

.btn {
    padding: 10px;
}

.btn-main-red {
    background-color: var(--main-red);
    color: white;
}

.btn-main-red:hover {
    background-color: var(--main-red-dark);
    color: white;
}


/* Form control */

.form-control:focus {
    border-color: var(--main-red);
    box-shadow: none;
}


/* Avatar */

.small-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.medium-avatar {
    width: 92px;
    height: 92px;
    object-fit: cover;
}